:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-wrapper {
  flex: 1;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: var(--footer-height);
  padding: 20px;
}