.vscode/settings.json
frontend/.vscode/settings.json
backend/json/resultados_20minutos.json
backend/json/resultados_elconfidencial.json
backend/json/resultados_elmundo.json
backend/json/resultados_elpais.json
backend/json/resultados_abc.json
backend/json/resultados_elespanol.json
backend/json/resultados_huffingtonpost.json
backend/json/resultados_lavanguardia.json
backend/json/resultados_okdiario.json
backend/.env
backend/app/__pycache__/__init__.cpython-312.pyc
backend/app/__pycache__/routes.cpython-312.pyc
backend/app/__pycache__/scraper.cpython-312.pyc
backend/spiders/__pycache__/__init__.cpython-312.pyc
backend/spiders/__pycache__/spider_telegram.cpython-312.pyc
backend/spiders/__pycache__/spider.cpython-312.pyc
backend/__pycache__/db.cpython-312.pyc
backend/__pycache__/db.cpython-310.pyc
backend/app/__pycache__/__init__.cpython-310.pyc
backend/app/__pycache__/routes.cpython-310.pyc
backend/app/__pycache__/scraper.cpython-310.pyc
backend/app/mongo/__pycache__/__init__.cpython-310.pyc
backend/app/mongo/__pycache__/mongo_utils.cpython-310.pyc
backend/spiders/__pycache__/__init__.cpython-310.pyc
backend/spiders/__pycache__/spider_telegram.cpython-310.pyc
backend/spiders/__pycache__/spider.cpython-310.pyc
backend/app/models/__pycache__/publicacion.cpython-310.pyc
.gitignore
backend/app/models/__pycache__/__init__.cpython-310.pyc
backend/app/models/__pycache__/concepto_interes.cpython-310.pyc
backend/app/spiders/__pycache__/__init__.cpython-310.pyc
backend/app/spiders/__pycache__/spider_executor.cpython-310.pyc
backend/app/spiders/__pycache__/spider_telegram.cpython-310.pyc
backend/app/spiders/__pycache__/spider.cpython-310.pyc
backend/app/spiders/debug/debug_telegram.html
backend/app/spiders/debug/debug_telegram.png
backend/app/models/__pycache__/fuente.cpython-310.pyc
backend/app/models/__pycache__/area_de_trabajo.cpython-310.pyc
backend/app/mongo/__pycache__/mongo_areas.cpython-310.pyc
backend/app/mongo/__pycache__/mongo_conceptos.cpython-310.pyc
backend/app/mongo/__pycache__/mongo_fuentes.cpython-310.pyc
backend/app/mongo/__pycache__/mongo_publicaciones.cpython-310.pyc
backend/app/routes/__pycache__/__init__.cpython-310.pyc
backend/app/routes/__pycache__/routes_areas.cpython-310.pyc
backend/app/routes/__pycache__/routes_conceptos.cpython-310.pyc
backend/app/routes/__pycache__/routes_fuentes.cpython-310.pyc
backend/app/routes/__pycache__/routes_publicaciones.cpython-310.pyc
backend/app/routes/__pycache__/routes_scraping.cpython-310.pyc
backend/app/similarity_search/__pycache__/__init__.cpython-310.pyc
backend/app/similarity_search/__pycache__/similarity_search.cpython-310.pyc
