.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color); /* Azul estilo material */
  color: var(--text-gold);
  padding: 8px 16px;
  font-size: 0.8rem;
  box-shadow: var(--shadow-dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  height: var(--footer-height); /* Define altura fija */
  z-index: 1000;
}

.footer-text {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
