.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3953f6; /* Azul estilo material */
  color: white;
  padding: 8px 16px;
  font-size: 0.8rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.footer-text {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
