<div class="header-text">
  <span>Publicaciones de interés</span>
</div>
<div class="barra-filtros">
  <ejs-textbox placeholder="Buscar alerta..." [(ngModel)]="filtroBusqueda"></ejs-textbox>

  <ejs-dropdownlist [dataSource]="conceptosOpts" [(ngModel)]="filtroConceptoId"
    [fields]="{ text: 'nombre', value: 'id' }" [value]="filtroConceptoId" placeholder="Concepto"></ejs-dropdownlist>

  <ejs-dropdownlist [dataSource]="fuentesOpts" [(ngModel)]="filtroFuenteId" [fields]="{ text: 'nombre', value: 'id' }"
    [value]="filtroFuenteId" placeholder="Fuente"></ejs-dropdownlist>


  <div class="filtro-item">
    <ejs-dropdownlist id="tono" [dataSource]="valoraciones" [(ngModel)]="filtroValoracion"
      [fields]="{ text: 'nombre', value: 'valor' }" placeholder="Tono">
    </ejs-dropdownlist>
  </div>


  <ejs-datepicker [(ngModel)]="fechaDesde" [format]="'dd/MM/yyyy'" placeholder="Desde"></ejs-datepicker>

  <ejs-datepicker [(ngModel)]="fechaHasta" [format]="'dd/MM/yyyy'" placeholder="Hasta"></ejs-datepicker>

  <button class="boton-reset" (click)="aplicarFiltros()">Aplicar</button>
  <button class="boton-reset" (click)="resetFiltros()">Resetear</button>
</div>

<!-- Contenedor de mapa y graficos-->
<div class="contenedor-mapa-grafico">
  <div class="grafico-publicaciones-pais">
    <app-grafico-barras [datosGrafico]="datosPublicacionesPais" [tituloGrafico]="tituloGraficoPublicacionesPais"
      [ejeX]="ejeXPublicacionesPais" [ejeY]="ejeYPublicacionesPais"></app-grafico-barras>
  </div>
  <div class="grafico-tono-pais">
    <app-grafico-barras [datosGrafico]="datosTonoPais" [tituloGrafico]="tituloGraficoTonoPais" [ejeX]="ejeXTonoPais"
      [ejeY]="ejeYTonoPais"></app-grafico-barras>
  </div>

    <app-mapa-mundial [dataPorPais]="datosMapa" class="mapa" [paisConMasPublicaciones]="paisConMasPublicaciones"
      [tonoMedioGeneral]="tonoMedioGeneral" [totalPublicaciones]="totalPublicaciones"></app-mapa-mundial>

  <div class="grafico-publicaciones-dia">
    <app-grafico-barras [datosGrafico]="datosPublicacionesDia" [tituloGrafico]="tituloGraficoPublicacionesDia"
      [ejeX]="ejeXPublicacionesDia" [ejeY]="ejeYPublicacionesDia"></app-grafico-barras>
  </div>
  <div class="grafico-tono-dia">
    <app-grafico-barras [datosGrafico]="datosTonoDia" [tituloGrafico]="tituloGraficoTonoDia" [ejeX]="ejeXTonoDia"
      [ejeY]="ejeYTonoDia"></app-grafico-barras>
  </div>
</div>




<div class="contenedor-cards">
  <app-spinner *ngIf="loading" message="Cargando noticias..."></app-spinner>
  <div *ngFor="let alerta of alertasFiltradas" class="alerta-card"
    [ngStyle]="{ 'background-color': getColor(alerta.tono) }">
    <div class="card-texto">
      <!-- Header -->
      <div class="fila-header">
        <div class="titulo">{{ alerta.titulo }}</div>
        <div class="fecha">{{ alerta.fecha | date : "short" }}</div>
      </div>

      <!-- Contenido colapsable [class.collapsed]="!isExpanded(alerta._id!)" -->
      <div class="resumen contenido" (click)="toggleExpand(alerta._id!)">
        {{ alerta.contenido }}
      </div>
      <!-- <button
        class="toggle-btn"
        (click)="toggleExpand(alerta._id!); $event.stopPropagation()"
      >
        {{ isExpanded(alerta._id!) ? "Mostrar menos" : "Mostrar más" }}
      </button> -->

      <!-- Footer -->
      <div class="fila-footer">
        <div class="fuente">
          <!--  TODO: Cambiar por el nombre de la fuente cuando se recupere desde back con join de alertas y fuentes
          <a [href]="alerta.url" target="_blank">{{ alerta.fuente }}</a> 
          -->
          <a [href]="alerta.url" target="_blank">{{ alerta.fuente?.nombre }}</a>
        </div>
        <div class="tags">
          <span *ngFor="let concepto of alerta.conceptos_relacionados" class="badge">
            {{ concepto.nombre }}
          </span>
        </div>
        <div class="tono">Tono: {{ alerta.tono || "Sin calificar" }}</div>
      </div>
    </div>
  </div>
</div>