<div class="header-text">
  <span>Publicaciones de interés</span>
</div>

<div class="barra-filtros">
  <ejs-textbox placeholder="Buscar palabras..." [(ngModel)]="filtroBusqueda"></ejs-textbox>

  <ejs-dropdownlist [dataSource]="areasTrabajoOpts" [(ngModel)]="filtroAreaId" (ngModelChange)="onAreaChange($event)"
    [fields]="{ text: 'nombre', value: 'id' }" placeholder="Área de trabajo">
  </ejs-dropdownlist>

  <ejs-dropdownlist [dataSource]="conceptosOpts" [(ngModel)]="filtroConceptoId"
    [fields]="{ text: 'nombre', value: 'id' }" [value]="filtroConceptoId" placeholder="Concepto"
    [enabled]="!!filtroAreaId">
  </ejs-dropdownlist>


  <ejs-dropdownlist [dataSource]="fuentesOpts" [(ngModel)]="filtroFuenteId" [fields]="{ text: 'nombre', value: 'id' }"
    [value]="filtroFuenteId" placeholder="Fuente"></ejs-dropdownlist>

  <ejs-dropdownlist id="pais" [dataSource]="listaPaises" [(ngModel)]="filtroPais"
    [fields]="{ text: 'nombre', value: 'codigo' }" placeholder="País">
  </ejs-dropdownlist>

  <div class="filtro-item">
    <ejs-dropdownlist id="tono" [dataSource]="valoraciones" [(ngModel)]="filtroValoracion"
      [fields]="{ text: 'nombre', value: 'valor' }" placeholder="Tono">
    </ejs-dropdownlist>
  </div>

  <ejs-datepicker [(ngModel)]="fechaDesde" [format]="'dd/MM/yyyy'" [firstDayOfWeek]="1" placeholder="Desde"></ejs-datepicker>
  <ejs-datepicker [(ngModel)]="fechaHasta" [format]="'dd/MM/yyyy'" [firstDayOfWeek]="1" placeholder="Hasta"></ejs-datepicker>

  <button class="boton-reset" (click)="aplicarFiltrosNuevaConsulta()">Aplicar</button>
  <button class="boton-reset" (click)="resetFiltros()">Resetear</button>
  <button class="boton-reset" (click)="generarInformeImpactoTemporal()">Generar informe</button>
</div>

<!-- Contenedor de mapa y graficos-->
<div class="contenedor-mapa-grafico">
  <div class="grafico-publicaciones-pais">
    <app-grafico-barras [datosGrafico]="datosPublicacionesPais" [tituloGrafico]="tituloGraficoPublicacionesPais"
      [ejeX]="ejeXPublicacionesPais" [ejeY]="ejeYPublicacionesPais"></app-grafico-barras>
  </div>
  <div class="grafico-tono-pais">
    <app-grafico-barras [datosGrafico]="datosTonoPais" [tituloGrafico]="tituloGraficoTonoPais" [ejeX]="ejeXTonoPais"
      [ejeY]="ejeYTonoPais"></app-grafico-barras>
  </div>

  <app-mapa-mundial [dataPorPais]="datosMapa" class="mapa" [paisConMasPublicaciones]="paisConMasPublicaciones"
    [tonoMedioGeneral]="tonoMedioGeneral" [totalPublicaciones]="totalPublicaciones">
  </app-mapa-mundial>

  <div class="grafico-publicaciones-dia">
    <app-grafico-barras [datosGrafico]="datosPublicacionesDia" [tituloGrafico]="tituloGraficoPublicacionesDia"
      [ejeX]="ejeXPublicacionesDia" [ejeY]="ejeYPublicacionesDia"></app-grafico-barras>
  </div>
  <div class="grafico-tono-dia">
    <app-grafico-barras [datosGrafico]="datosTonoDia" [tituloGrafico]="tituloGraficoTonoDia" [ejeX]="ejeXTonoDia"
      [ejeY]="ejeYTonoDia"></app-grafico-barras>
  </div>
</div>


<div class="contenedor-cards">
  <app-spinner *ngIf="loading" message="Cargando noticias..."></app-spinner>

  <div *ngFor="let alerta of alertasFiltradas" class="alerta-card"
    [ngStyle]="{ 'background-color': getColor(alerta.tono) }">
    <div class="card-imagen">
      <div class="imagen-fuente" *ngIf="alerta.fuente?.url_imagen">
        <div class="fuente">
          <a [href]="alerta.url" target="_blank">
            <img [src]="alerta.fuente?.url_imagen" alt="Imagen de fuente" />
          </a>
        </div>
      </div>
    </div>
    <div class="card-texto">
      <a [href]="alerta.url" target="_blank" style="text-decoration: none;">
        <div class="fila-header">
          <div class="titulo">{{ alerta.titulo }}</div>
        </div>
      </a>
      <br>

      <div class="fila-datos-publicacion">
        <div class="fecha">
          <span *ngIf="alerta.pais">País: {{ nombrePais(alerta) }}</span> •
          <span>Fecha/hora: {{ alerta.fecha | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
      </div>

      <br>
      <a [href]="alerta.url" target="_blank" style="text-decoration: none;">
        <div class="resumen contenido">{{ alerta.contenido }}</div>
      </a>
      <div class="fila-footer">
        <div class="tono">Tono: {{ alerta.tono || "Sin calificar" }}</div>
        <div class="tags">
          <span *ngFor="let concepto of alerta.conceptos_relacionados" class="badge">
            {{ concepto.nombre }}
            <span class="eliminar-concepto"
              (click)="confirmarEliminarConcepto(alerta._id!, concepto._id!, concepto.nombre)">❌</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="paginacion-centrada">
    <button class="boton-reset" (click)="irPrimeraPagina()" [disabled]="paginaActual === 1">« Primera</button>
    <button class="boton-reset" (click)="paginaAnterior()" [disabled]="paginaActual === 1">← Anterior</button>
    <span class="pagina-actual">Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <button class="boton-reset" (click)="paginaSiguiente()"
      [disabled]="paginaActual * publicacionesPorPagina >= totalFiltradas">
      Siguiente →
    </button>
    <button class="boton-reset" (click)="irUltimaPagina()"
      [disabled]="paginaActual * publicacionesPorPagina >= totalFiltradas">Última »</button>
  </div>