<div class="barra-filtros">
  <ejs-textbox
    placeholder="Buscar alerta..."
    [(ngModel)]="filtroBusqueda"
    (input)="aplicarFiltros()"
  ></ejs-textbox>

  <ejs-dropdownlist
    [dataSource]="fuentes"
    [(ngModel)]="filtroFuente"
    (change)="aplicarFiltros()"
    placeholder="Fuente"
  ></ejs-dropdownlist>

  <ejs-dropdownlist
    [dataSource]="valoraciones"
    [(ngModel)]="filtroValoracion"
    (change)="aplicarFiltros()"
    placeholder="Valoración"
  ></ejs-dropdownlist>

  <ejs-datepicker
    [(ngModel)]="fechaDesde"
    (change)="aplicarFiltros()"
    placeholder="Desde"
  ></ejs-datepicker>

  <ejs-datepicker
    [(ngModel)]="fechaHasta"
    (change)="aplicarFiltros()"
    placeholder="Hasta"
  ></ejs-datepicker>

  <button class="boton-reset" (click)="resetFiltros()">Resetear</button>
</div>

<div class="contenedor-cards">
  <div
    *ngFor="let alerta of alertasFiltradas"
    class="alerta-card"
    [ngClass]="getColor(alerta.tono)"
  >
    <div class="card-texto">
      <!-- Header -->
      <div class="fila-header">
        <div class="titulo">{{ alerta.titulo }}</div>
        <div class="fecha">{{ alerta.fecha | date: 'short' }}</div>
      </div>

      <!-- Contenido colapsable -->
      <div
        class="resumen contenido"
        [class.collapsed]="!isExpanded(alerta._id!)"
        (click)="toggleExpand(alerta._id!)"
      >
        {{ alerta.contenido }}
      </div>
      <button
        class="toggle-btn"
        (click)="toggleExpand(alerta._id!); $event.stopPropagation()"
      >
        {{ isExpanded(alerta._id!) ? 'Mostrar menos' : 'Mostrar más' }}
      </button>

      <!-- Footer -->
      <div class="fila-footer">
        <div class="fuente">
          <a [href]="alerta.url" target="_blank">{{ alerta.fuente }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

