.barra-filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-container {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  max-height: 80vh !important;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input[type="text"] {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 6px 12px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-hover);
}


::ng-deep .dialog-fuente.e-dialog {
  height: auto !important;
  max-height: 80vh !important;
}